# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/
[Bb]uildReport/
sysinfo.txt

# OS junk
.DS_Store
Thumbs.db

# IDE junk (щоб не засмічувати репо файлами IDE)
.vs/
.vscode/
